<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStreamOutService" />
                <binding name="BasicHttpBinding_IStreamOutService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/StreamOutService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStreamOutService"
                contract="StreamOutServiceRef1.IStreamOutService" name="BasicHttpBinding_IStreamOutService" />
            <endpoint address="http://localhost:8080/StreamOutService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStreamOutService1"
                contract="ServiceReference1.IStreamOutService" name="BasicHttpBinding_IStreamOutService1" />
        </client>
    </system.serviceModel>
</configuration>