<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBroadcastorService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IBroadcastorService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/BroadcastorService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBroadcastorService"
                contract="BroadcastService.IBroadcastorService" name="BasicHttpBinding_IBroadcastorService" />
            <endpoint address="net.tcp://u6035303-tpl-a.ten.thomsonreuters.com/BroadcastorService/Service.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBroadcastorService"
                contract="BroadcastorService.IBroadcastorService" name="NetTcpBinding_IBroadcastorService">
                <identity>
                    <servicePrincipalName value="host/U6035303-TPL-A.ten.thomsonreuters.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>